<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Shaligram Infotech")</title>
    <meta name="keyword" content="@PageData["keyword"]">
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/content/css/app")
    <link href="~/Content/css/toastr-angular.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">*@

    <link rel="icon" href="images/favicon.ico">

    @*<title>Shaligram Consultancy</title>
        <meta name=keyword content="Company incorporation, llp registration, registration of company, company registration in india , private limited company registration.">
        <meta name=description content="India's largest online platform of lawyers, chartered accountants and company secretaries, specialising in company registration and trademark registration">*@
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="css/font-awesome.min.css" rel="stylesheet">*@
    @*<link href="css/owl.carousel.min.css" rel="stylesheet">*@
    @*<link href="css/custom.min.css" rel="stylesheet">
        <link href="css/responsive.min.css" rel="stylesheet">*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}
            , Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script")
                , s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/56f2b166d68ada7f0fa9a8ec/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>

</head>



<body>
    <header class="top-nav">
        <div class="container">
            <div class="col-sm-12">

                <div class="w-clearfix top-right-wrapper top-left-click">

                    @*<div class="top-text" id="google_translate_element">
                            <span class="blue">

                                <script type="text/javascript">

                                    function googleTranslateElementInit() {

                                        new google.translate.TranslateElement({

                                            pageLanguage: 'en',

                                            includedLanguages: 'en,es,fr,nl'
                                        },

                                        'google_translate_element');



                                        jQuery(".goog-logo-link").css({ "display": "none" });

                                        jQuery(".goog-te-gadget").css({ "font-size": "0", "color": "#f58634" });

                                        jQuery(".skiptranslate").css({ "display": "none" });

                                    }
                                </script>



                            </span>
                            <div class="skiptranslate goog-te-gadget" dir="ltr" style="font-size: 0px; color: rgb(245, 134, 52);"><div id=":0.targetLanguage">
                                <select class="goog-te-combo">
                                <option value="">Select Language</option>
                                <option value="nl">Dutch</option>
                                <option value="fr">French</option>
                                <option value="es">Spanish</option></select>
                                </div>Powered by <span style="white-space:nowrap"><a class="goog-logo-link" href="https://translate.google.com" target="_blank" style="display: none;"><img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" style="padding-right: 3px;width:37px;height:14px" alt="Google Translate">Translate</a></span></div>
                        </div>*@
                    <div class="flags_icon">
                        <img alt="flag india" src="images/flags/india1.png" title="India">
                        <img alt="flag USA" src="images/flags/us.png" title="USA">
                        <img alt="flag uk" src="images/flags/uk.png" title="UK">
                        <img alt="flag australia" src="images/flags/australia.png" title="Australia">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="http://www.shaligraminfotech.com/contact/request-quotes.php">Request Quote</a></li>
                            <li><a class="phone" href="tel:+1-210-888-8402"><span class="blue"><i class="fa fa-phone"></i>+1-210-888-8402</span></a>
                            <li><a class="email pr-0" target="_blank" href="mailto:info@shaligraminfotech.com"><span class="blue">info@shaligraminfotech.com</span></a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>

    </header>

    <nav class="navbar navbar-default mainHeader">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand" href="./"><img height="36" width="271" src="images/logo_shaligram.png" atl="Shaligram Infotech" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right mainUL">
                    <li class="submenuLiMain">
                        <a href="#">Company<i class="fa fa-angle-down"></i></a>
                        <ul class="subMenu oneColumn">
                            <li>
                                <ul>
                                    <li class="subMenuLi"> <a href="" ui-sref="who-we-are">Who We Are</a> </li>
                                    <li class="subMenuLi"> <a href="" ui-sref="leadership">Leadership</a> </li>
                                    <li class="subMenuLi"> <a href="" ui-sref="infrastructure">Infrastructure</a> </li>
                                    <li class="subMenuLi"> <a href="" ui-sref="career">Career</a> </li>
                                    <li class="subMenuLi"> <a href="" ui-sref="development-process">Development Process</a> </li>
                                </ul>
                            </li>

                        </ul>

                    </li>
                    <li class="submenuLiMain">
                        <a href="#">Services<i class="fa fa-angle-down"></i></a>
                        <ul class="subMenu oneColumn">
                            <li>
                                <ul>
                                    <li class="subMenuLi"> <a href="../services/software-application-development.php">Application Development</a> </li>
                                    <li class="subMenuLi"> <a href="../services/software-product-development.php">Product Development</a> </li>
                                    <li class="subMenuLi"> <a href="../services/software-application-migration.php">Application Migration &amp; Modernization</a> </li>
                                    <li class="subMenuLi"> <a href="../services/software-application-support.php">Application Support &amp; Maintenance</a> </li>
                                    <li class="subMenuLi"> <a href="../services/web-portal-development.php">Web Portal Development</a> </li>
                                    <li class="subMenuLi"> <a href="../services/responsive-website-development.php">Responsive Website Development</a> </li>
                                    <li class="subMenuLi"> <a href="../services/hire-resource.php">Hire Resources</a> </li>
                                    <li class="subMenuLi"> <a href="../services/bi-services.php">Business intelligence</a> </li>
                                    <li class="subMenuLi"> <a href="../services/testing-qa-services.php">Testing-QA</a> </li>
                                    <li class="subMenuLi"> <a href="../services/offshore-development-center.php">Offshore Development Center</a> </li>
                                    <li class="subMenuLi"> <a href="../services/mobile-app-development.php">Mobile Apps Development</a> </li>
                                    <li class="subMenuLi"> <a href="../services/cloud-services.php">Cloud Services</a> </li>
                                </ul>
                            </li>
                            @*<li>
                                    <ul>
                                        <li><h4>Tax Registrations</h4></li>
                                        <li class="subMenuLi"><a href="" ui-sref="gst-registration">GST Registration</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="gst-registration-for-foreigners">GST Registration(for Foreigners)</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="temporary-gst-registration">Temporary GST Registration</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="professional-tax">Professional Tax</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="tan-registration">TAN Registration</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><h4>Ad-hoc REGISTRATION</h4></li>
                                        <li class="subMenuLi"><a href="" ui-sref="esi-registration">ESI Registration</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="msme-registration">MSME Registration</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="import-export-code">Import Export Code</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="fssai-registration">FSSAI Registration</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="digital-signature">Digital Signature</a></li>
                                    </ul>
                                </li>*@
                        </ul>
                    </li>
                    <li class="submenuLiMain">
                        <a href="#">Domain Expertise</a>
                    </li>
                    <li class="submenuLiMain">
                        <a href="#">Solutions<i class="fa fa-angle-down"></i></a>
                        <ul class="subMenu oneColumn">
                            <li>
                                <ul>
                                    <li> <a href="" ui-sref="crm-solution">CRM Solution</a> </li>
                                    <li> <a href="" ui-sref="ecommerce-solution">E-Commerce Solution</a> </li>
                                    <li> <a href="" ui-sref="hrandjob-portal-solution">HR &amp; Job Portal Solution</a> </li>
                                    <li> <a href="" ui-sref="enterprise-content-management">Enterprise Content Management</a> </li>
                                    <li> <a href="" ui-sref="live-chat-and-support">Live Chat and Support Ticket System</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="submenuLiMain">
                        <a href="#">Technologies<i class="fa fa-angle-down"></i></a>
                        <ul class="subMenu oneColumn">
                            <li>
                                <ul>
                                    <li> <a href="../technologies/sharepoint-development.php">SharePoint</a> </li>
                                    <li> <a href="../technologies/java-development.php">JAVA</a> </li>
                                    <li> <a href="../technologies/biztalk-development.php">BizTalk</a> </li>
                                    <li> <a href="../technologies/microsoft-dot-net-development.php">Microsoft .NET</a> </li>
                                    <li> <a href="../technologies/nodejs-development.php">NodeJs</a> </li>
                                    <li> <a href="" ui-sref="angularjs-development">AngularJs</a> </li>
                                    <li> <a href="" ui-sref="ajax-development">AJAX</a> </li>
                                    <li> <a href="" ui-sref="html5-development">HTML5</a> </li>
                                    <li> <a href="../technologies/php-open-source.php">PHP/Open Sources</a> </li>
                                    <li> <a href="../technologies/hadoop-development.php">Hadoop</a> </li>
                                </ul>
                        </ul>
                    </li>
                    <li class="submenuLiMain">
                        <a href="#">Portfolio</i></a>
                        @*<ul class="subMenu threeColumn">
                                <li>
                                    <ul>
                                        <li><h4>Legal Notice</h4></li>
                                        <li class="subMenuLi"><a href="" ui-sref="legal-notice">Legal Notice</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><h4>Confidentiality/Restrictive</h4></li>
                                        <li class="subMenuLi"><a href="" ui-sref="non-disclosure-agreement">Non-Disclosure Agreement</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><h4>Investment Support</h4></li>
                                        <li class="subMenuLi"><a href="" ui-sref="founders-agreement">Founders' Agreement</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="term-sheet">Term Sheet</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="shareholders-agreement">Shareholders' Agreement</a></li>
                                        <li class="subMenuLi"><a href="" ui-sref="share-purchase-agreement">Share Purchase Agreement</a></li>
                                    </ul>
                                </li>
                            </ul>*@
                    </li>

                    <li class="submenuLiMain">
                        <a href="./about-us">About Us</a>
                    </li>
                    <li class="submenuLiMain"><a href="./contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @*<div id="MainBanner" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="images/mainBg.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Goods &amp; Services Tax in India</h1>
                            <p>The All-in-One Tax</p>
                            <p>Lowest Price, Seamless Process</p>
                            <p><a class="btn btn-primary mt-5" href="gst-registration.html">LEARN MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide" src="images/mainBg1.jpg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Goods &amp; Services Tax in India</h1>
                            <p>The All-in-One Tax</p>
                            <p>Lowest Price, Seamless Process</p>
                            <p><a class="btn btn-primary mt-5" href="gst-registration.html">LEARN MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="third-slide" src="images/mainBg2.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Goods &amp; Services Tax in India</h1>
                            <p>The All-in-One Tax</p>
                            <p>Lowest Price, Seamless Process</p>
                            <p><a class="btn btn-primary mt-5" href="gst-registration.html">LEARN MORE</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#MainBanner" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#MainBanner" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section>
            <div class="container">
                <h2 class="pageHeading text-center">All our services, at a glance</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <ul class="nav allServices">
                                    <li class="active"><a data-toggle="tab" href="#business">Start a Business</a></li>
                                    <li><a data-toggle="tab" href="#tax">Tax Registration</a></li>
                                    <li><a data-toggle="tab" href="#trademark">Trademark &amp; Copyright</a></li>
                                    <li><a data-toggle="tab" href="#documentation">Legal Documentation</a></li>
                                    <li><a data-toggle="tab" href="#compliance">Mandatory Compliance</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9">
                                <div class="tab-content tab-panel business-plan">
                                    <div id="business" class="tab-pane fade in active">
                                        <div class="col-sm-4">
                                            <h3>Private Limited Company</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>6,300</p>
                                                <span>(Govt. fees on actuals)</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>The default option for start-ups and growing businesses as only private limited companies can raise venture capital.</p>
                                            </div>
                                            <a href="private-limited-company.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Limited Liability Partnership</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>5,400</p>
                                                <span>(Govt. fees on actuals)</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>The perfect structure for professional services firms such as financial advisories and ad agencies.</p>
                                            </div>
                                            <a href="llp.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>One Person Company</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>4,500</p>
                                                <span>(Govt. fees on actuals)</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>The best structure for solo entrepreneurs looking beyond the opportunities a sole proprietorship affords.</p>
                                            </div>
                                            <a href="one-person-company.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                    </div>
                                    <div id="tax" class="tab-pane fade">
                                        <div class="col-sm-4">
                                            <h3>ESI Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>7,911</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>Often known as TIN Number, it is mandatory for any manufacturing or trading business with a turnover of over Rs. 5 lakh.</p>
                                            </div>
                                            <a href="esi-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>MSME Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>4,791</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>To pay this tax, the service provider must be registered with the Central Government if the preceding fiscal year's turnover is over Rs. 9 lakh.</p>
                                            </div>
                                            <a href="msme-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>FSSAI Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>1,930</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>As a small enterprise, you can have access to priority sector lending, tax exemptions &amp; capital investment and power tariff subsidies.</p>
                                            </div>
                                            <a href="fssai-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                    </div>
                                    <div id="trademark" class="tab-pane fade">
                                        <div class="col-sm-4">
                                            <h3>Trademark Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>5,660</p>
                                                <span>all-inclusive</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>Protect your brand, slogan or logo. Begin now and use the trademark symbol beside your name in three working days.</p>
                                            </div>
                                            <a href="trademark-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Copyright Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>3,026</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>A registration confers upon its owner sole rights to copy or reproduce the work or grant permission to another to do so.</p>
                                            </div>
                                            <a href="copyright-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Patent Registration</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>7,977</p>
                                                <span>all-inclusive</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>Conduct a rigorous check to know if your product/design is likely to be granted a patent. All at the lowest price in India.</p>
                                            </div>
                                            <a href="patent-registration.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                    </div>
                                    <div id="documentation" class="tab-pane fade">
                                        <div class="col-sm-4">
                                            <h3>Term Sheet</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>3,150</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>The terms are the conditions on which service is being delivered, while the privacy policy explains to users what will and will not be done with their information.</p>
                                            </div>
                                            <a href="term-sheet.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Founders' Agreement</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>4,500</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>An agreement to outline all the important aspects of the relationship between the founders.</p>
                                            </div>
                                            <a href="founders-agreement.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Shareholders' Agreement</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>1,800</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>An employment contract is necessary when hiring any employee or consultant, whether part-time...</p>
                                            </div>
                                            <a href="shareholders-agreement.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                    </div>
                                    <div id="compliance" class="tab-pane fade">
                                        <div class="col-sm-4">
                                            <h3>Limited Liability Partnership</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>14,175</p>
                                                <span>all-inclusive</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>Fulfill all the compliance requirements of your private limited company every year</p>
                                            </div>
                                            <a href="llp-compliance.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Private Limited Company</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>4,500</p>
                                                <span>onwards</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>A tedious, but very necessary, procedure that can even take over a year to complete.</p>
                                            </div>
                                            <a href="pvtltd-company-compliance.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Foreign Subsidiary</h3>
                                            <div class="plan-info">
                                                <p class="plan-fee"><i class="fa fa-inr"></i>45,000</p>
                                                <span>all-inclusive</span>
                                            </div>
                                            <div class="plan-info">
                                                <p>The strongest incentive for your best employees to stay motivated and stick around.</p>
                                            </div>
                                            <a href="foreign-subsidiary-compliance.html" class="btn btn-primary">KNOW MORE</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg mt-25">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 separater pt-25 pb-30">
                        <h3 class="pageHeading text-left">5 Reasons Why<br />Customers Like Us</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Shaligram Consultancy is using the internet to simplify time-consuming paperwork. Over the past five years, we've helped tens of thousands of start-ups register themselves, protect their intellectual property, secure funding from Venture Capitalists & comply with the many regulations of the MCA.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-25 pb-30 text-right like-reason">
                        <p>Startup-friendly</p>
                        <span>3% of all business registrations and climbing</span>
                        <p>Cost-efficient</p>
                        <span><i class="fa fa-inr"></i>9 crore in professional fees saved every year</span>
                        <p>Time-saving</p>
                        <span>42,000 hours freed up for Indian business owners</span>
                        <p>Continuous support</p>
                        <span>160-strong team available for assistance</span>
                        <p>Satisfaction guaranteed</p>
                        <span>140,000+ happy customers since inception</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mediaSlider hidden-xs">
            <div id="mediaSlider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators indicators-fix">
                    <li data-target="#mediaSlider" data-slide-to="0" class="active"></li>
                    <li data-target="#mediaSlider" data-slide-to="1"></li>
                    <li data-target="#mediaSlider" data-slide-to="2"></li>
                    <li data-target="#mediaSlider" data-slide-to="3"></li>
                    <li data-target="#mediaSlider" data-slide-to="4"></li>
                    <li data-target="#mediaSlider" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p>The law is a sector of the economy ripe for innovation, as people are desperate for affordable and reliable legal services.</p>
                    </div>
                    <div class="item">
                        <p>For now, these startups play the role of facilitators, reducing the time and effort spent on getting a dependable lawyer.</p>
                    </div>
                    <div class="item">
                        <p>The problem of finding reliable and affordable legal help has become a thing of the past as an increasing number of people is choosing to find lawyers through online legal advice portals.</p>
                    </div>
                    <div class="item">
                        <p>You can now finish simple legal tasks without leaving your desk. Fill an interactive and easy-to-use questionnaire and your rental agreement, will or even legal notice comes sailing to you in a nice, sealed envelope.</p>
                    </div>
                    <div class="item">
                        <p>With over 4,000 lawyers on ShaligranConsultancy.com and rapidly growing, we believe we have solved the problem.</p>
                    </div>
                    <div class="item">
                        <p>Shaligram Consultancy, with offices in all major Indian cities, is handling a large chunk of business owners who are open to getting professional support online.</p>
                    </div>
                </div>
                <a class="left carousel-control" href="#mediaSlider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mediaSlider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ul class="nav nav-pills nav-justified">
                    <li data-target="#mediaSlider" data-slide-to="0" class="active">
                        <a href="#"><img src="images/ndtv.png" alt="image" /></a>
                    </li>
                    <li data-target="#mediaSlider" data-slide-to="1">
                        <a href="#"><img src="images/forbes.png" alt="image" /></a>
                    </li>
                    <li data-target="#mediaSlider" data-slide-to="2">
                        <a href="#"><img src="images/chronicle.png" alt="image" /></a>
                    </li>
                    <li data-target="#mediaSlider" data-slide-to="3">
                        <a href="#"><img src="images/thehindu.png" alt="image" /></a>
                    </li>
                    <li data-target="#mediaSlider" data-slide-to="4">
                        <a href="#"><img src="images/toi.png" alt="image" /></a>
                    </li>
                    <li data-target="#mediaSlider" data-slide-to="5">
                        <a href="#"><img src="images/yourstory.png" alt="image" /></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="latest-news">
            <div class="container">
                <h3 class="pageHeading">Latest News</h3>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">
                        <span>June 21, 2017</span>
                        <h5>Trademark Class 3: Cosmetics and Cleaning Substances</h5>
                        <img src="images/latest-news1.jpg" alt="image" />
                        <p>Trademark Class 3 is for registering perfumery, soaps, dentifrices, essential oils, cosmetics, and hair lotions. Class 3 mainly includes cleaning and cosmetics preparations, substances ...</p>
                        <p class="text-right"><a href="#">READ MORE</a></p>
                    </div>
                    <div class="col-sm-3">
                        <span>June 16, 2017</span>
                        <h5>Converting an OPC to a Private Limited Company home image</h5>
                        <img src="images/latest-news2.jpg" alt="image" />
                        <p>There are two ways of converting a One Person Company into a Private Limited Company as per the act. The conversion can be a voluntarily one or by compulsion but cases a proper procedure is to be ...</p>
                        <p class="text-right"><a href="#">READ MORE</a></p>
                    </div>
                    <div class="col-sm-3">
                        <span>June 14, 2017</span>
                        <h5>How to Register a Producer Company in India</h5>
                        <img src="images/latest-news3.jpg" alt="image" />
                        <p>A Producer Company consists of a group of people who are involved in the production of primary produce or having one or more objectives related to the primary produce. Part IXA of Companies (Amendment) Act, 2002 ...</p>
                        <p class="text-right"><a href="#">READ MORE</a></p>
                    </div>
                    <div class="col-sm-3">
                        <span>June 14, 2017</span>
                        <h5>Document Maintenance Under GST</h5>
                        <img src="images/latest-news4.jpg" alt="image" />
                        <p>The Goods and Services Tax (GST) is a tax reform that aims to eliminate India’s major indirect taxes – VAT, Excise and Service Tax. The GST laws mandate that all registered persons who are under GST, must ...</p>
                        <p class="text-right"><a href="#">READ MORE</a></p>
                    </div>
                </div>
            </div>
        </section>*@
    <div id="ui-view" style="width:100%;height:100%" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>
    <div class="col-sm-12 hidden-xs pt-15 pb-15">
        <div class="row">
            <div class="col-sm-1 col-md-offset-1">
                <img src="images/tech/android_dev.png" alt="Android Application Development" title="Android Application Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/java.png" alt="Java Web Development" title="Java Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/nodejs.png" alt="Node JS Web Development" title="Node JS Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/CSS3.png" alt="CSS3 Web Development" title="CSS3 Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/apple_dev.png" alt="Iphone Application Development" title="Iphone Application Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/html5.png" alt="HTML5 Web Development" title="HTML5 Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/js.png" alt="JavaScript Web Development" title="JavaScript Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/dotnet.png" alt="ASP.NET Web Development" title="ASP.NET Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/angularjs.png" alt="Angular Js Web Development" title="Angular Js Web Development">
            </div>
            <div class="col-sm-1">
                <img src="images/tech/mysql.png" alt="Database Management" title="Database Management">
            </div>
        </div>
    </div>
    @*<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <h6>Start<br />a Business</h6>
                        <ul class="footer-nav">
                            <li><a href="" ui-sref="private-limited-company">Private Limited Company</a></li>
                            <li><a href="" ui-sref="llp">LLP - Limited Liability Partnership</a></li>
                            <li><a href="" ui-sref="one-person-company">One Person Company</a></li>
                            <li><a href="" ui-sref="proprietorship">Proprietorship</a></li>
                            <li><a href="" ui-sref="partnership">Partnership</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <h6>Tax<br />Formalities</h6>
                        <ul class="footer-nav">
                            <li><a href="" ui-sref="gst-registration">GST Registration</a></li>
                            <li><a href="" ui-sref="gst-registration-for-foreigners">GST Registration(for Foreigners)</a></li>
                            <li><a href="" ui-sref="temporary-gst-registration">Temporary GST Registration</a></li>
                            <li><a href="" ui-sref="professional-tax">Professional Tax</a></li>
                            <li><a href="" ui-sref="tan-registration">TAN Registration</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <h6>Intellectual<br />Property</h6>
                        <ul class="footer-nav">
                            <li><a href="" ui-sref="trademark-registration">Trademark Registration</a></li>
                            <li><a href="" ui-sref="trademark-rectification">Trademark Rectification</a></li>
                            <li><a href="" ui-sref="trademark-objection">Trademark Objection</a></li>
                            <li><a href="" ui-sref="trademark-opposition">Trademark Opposition</a></li>
                            <li><a href="" ui-sref="trademark-renewal">Trademark Renewal</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <h6>Compliance</h6>
                        <ul class="footer-nav">
                            <li><a href="" ui-sref="income-tax-filing">Income Tax Filing</a></li>
                            <li><a href="" ui-sref="gst-filing">GST Filing</a></li>
                            <li><a href="" ui-sref="gst-migration">GST Migration</a></li>
                            <li><a href="" ui-sref="tds-return">TDS Return</a></li>
                            <li><a href="" ui-sref="esi-return">ESI Return</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@





    <footer>
        @*<div class="footerbody">*@
        <div class="container">

            <div class="row">

                <div class="col-md-3 col-xs-12">
                    <h6>Company</h6>
                    <ul class="footer-nav">
                        @*<li><a href="" ui-sref="private-limited-company">Private Limited Company</a></li>
                            <li><a href="" ui-sref="llp">LLP - Limited Liability Partnership</a></li>
                            <li><a href="" ui-sref="one-person-company">One Person Company</a></li>
                            <li><a href="" ui-sref="proprietorship">Proprietorship</a></li>
                            <li><a href="" ui-sref="partnership">Partnership</a></li>*@
                        <li><a href="" ui-sref="who-we-are">Who We Are</a></li>
                        <li><a href="" ui-sref="leadership">Leadership</a></li>
                        <li><a href="" ui-sref="infrastructure">Infrastructure</a></li>
                        <li><a href="" ui-sref="career">Career</a></li>
                        <li><a href="" ui-sref="development-process">Development Process</a></li>
                    </ul>
                    @*<div class="fmenu">
                            <ul class="nav">
                                <li><a href="../company/who-we-are.php">Who We Are</a></li>
                                <li><a href="../company/leadership.php">Leadership</a></li>
                                <li><a href="../company/infrastructure.php">Infrastructure</a></li>
                                <li><a href="../company/career.php">Career</a></li>
                                <li><a href="../company/development-process.php">Development Process</a></li>
                            </ul>
                        </div>*@
                </div>
                <div class="col-md-3 col-xs-12">
                    <h6>Services</h6>
                    <ul class="footer-nav">
                        <li><a href="../services/software-application-development.php">Application Development</a></li>
                        <li><a href="../services/software-product-development.php">Product Development</a></li>
                        <li><a href="../services/software-application-migration.php">Application Migration &amp; Modernization</a></li>
                        <li><a href="../services/software-application-support.php">Application Support &amp; Maintenance</a></li>
                        <li><a href="../services/web-portal-development.php">Web Portal Development</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h6>Solutions</h6>
                    @*<div class="fmenu">*@
                    <ul class="footer-nav">
                        <li><a href="" ui-sref="crm-solution">CRM Solution</a></li>
                        <li><a href="" ui-sref="ecommerce-solution">E-Commerce Solution</a></li>
                        <li><a href="" ui-sref="hrandjob-portal-solution">HR and Job Portal Solution</a></li>
                        <li><a href="" ui-sref="enterprise-content-management">Enterprise Content Management</a></li>
                        <li> <a href="" ui-sref="live-chat-and-support">Live Chat and Support Ticket System</a> </li>
                    </ul>
                    @*</div>*@
                </div>
                <div class="col-md-3 col-xs-12">
                    <h6>Technologies</h6>

                    <ul class="footer-nav">
                        <li><a href="../technologies/sharepoint-development.php">SharePoint Development</a></li>
                        <li><a href="../technologies/java-development.php">JAVA Development</a></li>
                        <li><a href="../technologies/biztalk-development.php">BizTalk Development</a></li>
                        <li><a href="../technologies/microsoft-dot-net-development.php">Microsoft .NET Development</a></li>
                        <li><a href="../technologies/nodejs-development.php">NodeJS Development</a></li>
                    </ul>

                </div>
                <div>
                    <h6 style="width:100%"></h6>
                </div>
                <!--</div>-->
            </div>
        </div>

        <div class="container">
            <div class="row footer-copy">
                <div class="footer-devider"></div>
                <div class="col-md-3 col-xs-12">
                    @*<label class="addhead">*@
                    <h6>Office (India)</h6>
                    @*</label>*@

                    <p>Shaligram House, Behind Rajpath Club, </p>
                    <p>Off. S.G. Road, Bodakdev</p>
                    <p>Ahmedabad-380059, India</p>
                    <p><span><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+91-9727212899"> +91-9727212899 </a></span></p>
                    <p><span><i class="fa fa-envelope-o fa-lg"></i>&nbsp;<a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></span></p>
                    <p class="mt-btm-10"><span><i class="fa fa-skype fa-lg"></i>&nbsp;&nbsp;<a href="skype:shaligraminfotech?chat">shaligraminfotech</a></span></p>

                </div>
                <div class="col-md-3 col-xs-12">
                    @*<label class="addhead">*@
                    <h6>
                        Office (UK)
                    </h6>
                    @*</label>*@
                    <p>100, College Road, Harrow, London, </p>
                    <p>HA1 1BQ</p>
                    <p>United Kingdom</p>
                    <p><span><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+44 20 3581 6366">+44 20 3581 6366</a></span></p>
                    <p><span><i class="fa fa-envelope-o fa-lg"></i>&nbsp;<a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></span></p>
                    <p><span><i class="fa fa-skype fa-lg"></i>&nbsp;&nbsp;<a href="skype:shaligraminfotech?chat">shaligraminfotech</a></span></p>
                </div>
                <div class="col-md-3 col-xs-12">
                    @*<label class="addhead">*@
                    <h6>Office (USA)</h6>
                    @*</label>*@
                    <p>14793 Pensham Drive, Frisco</p>
                    <p>TX 75035, USA</p>
                    <p><span><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+1-210-888-8402"> +1-210-888-8402</a></span></p>
                    <p><i class="fa fa-fax"></i> 844-255-9976</p>
                    <p><span><i class="fa fa-envelope-o fa-lg"></i>&nbsp;<a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></span></p>
                    <p><span><i class="fa fa-skype fa-lg"></i>&nbsp;&nbsp;<a href="skype:shaligraminfotech?chat">shaligraminfotech</a></span></p>
                </div>
                <div class="col-md-3 col-xs-12">
                    <!--                    <label class="addhead">Contact Us</label>
                    <p><i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;Phone : +91-9727212899 </p>
                    <p><span><i class="fa fa-envelope-o fa-lg"></i>&nbsp;Mail : <a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></span></p>
                    <p><span><i class="fa fa-skype fa-lg"></i>&nbsp;&nbsp;Skype : <a href="skype:shaligraminfotech?chat">shaligraminfotech</a></span></p>-->
                    @*<label class="addhead">*@
                    <h6> Office (Australia)</h6>
                    @*</label>*@

                    <p>Level 36 Riparian Plaza, 71 Eagle Street,</p>
                    <p>Brisbane, QLD 4000</p>
                    <p><span><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+61 07 3121 3147"> +61 07 3121 3147</a></span></p>
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+61 0422 019 223">+61 0422 019 223</a></span></p>
                    <p><span><i class="fa fa-envelope-o fa-lg"></i>&nbsp;<a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></span></p>
                    <p><span><i class="fa fa-skype fa-lg"></i>&nbsp;&nbsp;<a href="skype:shaligraminfotech?chat">shaligraminfotech</a></span></p>

                </div>
                <div>
                    <h6 style="width:100%"></h6>
                </div>
            </div>
            <div class="row footer-copy">
                <div class="footer-devider"></div> <span class="copyright">© 2017 Shaligram InfoTech Inc.</span>
            </div>
        </div> <a id="backTop" class="black" style="right: 40px; bottom: 40px; position: fixed; display: block;">Back To Top</a>
        @*</div>*@
        <div id="nonsticky-social" style="display:none;">
            <label class="addhead">Connect With Us</label>
            <p>
                <a class="fa fa-facebook-square fa-2x" target="_blank" href="https://www.facebook.com/shaligraminfotech"></a>
                <a class="fa fa-twitter-square fa-2x" target="_blank" href="https://twitter.com/shaligram_it"></a>
                <a class="fa fa-google-plus-square fa-2x" target="_blank" href="https://plus.google.com/112697871928332078572/about"></a>
                <a class="fa fa-linkedin-square fa-2x" target="_blank" href="https://www.linkedin.com/company/shaligram-infotech"></a>
            </p>
        </div>
    </footer>

    <div class="modal fade" id="myModal" role="dialog" ng-controller="CommonController">
        <div class="modal-dialog">
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Shlaigram Consultancy</h4>
                    </div>*@<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <img src="./Images/handshake.png" class="handshake-cls" />
                    <p align="center">Thank you for your interest with Shlaigram Consultancy.</p>
                    <p align="center">We will get back to you shortly.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left col-sm-offset-5 custom-butn" data-dismiss="modal" ng-click="pageReload();">OK</button>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/js/jquery.min.js"></script>


    <script src="~/Scripts/js/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.js"></script>
    @*<script src="~/Scripts/pnotify.custom.min.js"></script>*@
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/filters.js"></script>
    <script src="~/Scripts/services.js"></script>
    <script src="~/Scripts/directives.js"></script>
    <script src="~/Scripts/controllers.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/Priceformscript.js"></script>
    <script src="~/Scripts/js/sticky-kit.min.js"></script>



    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>*@
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>*@
    @*@Scripts.Render("~/js/app")*@
    <script>

        var IsPageRendered = false;
        var IsAjax = 0;

        $(window).load(function () {
            IsPageRendered = true;
            if (!IsAjax) {

                $('.loader').hide();
            }
        });

        $(window).bind('beforeunload', function () { $('.loader').show(); });

        //$(window).scroll(function () {
        //    if ($(document).scrollTop() > 450) {
        //        $('nav').addClass('shrink');
        //    }
        //    else {
        //        $('nav').removeClass('shrink');
        //    }
        //});

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var stickyOffset = $('.navbar').offset().top;
            $(window).scroll(function () {
                var sticky = $('.navbar'),
                    scroll = $(window).scrollTop();
                if (scroll >= stickyOffset) sticky.addClass('navbar-fixed-top');
                else sticky.removeClass('navbar-fixed-top');
            });

            if ($(window).width() < 767) {
                $("#navbar .nav li").click(function () {
                    $(this).children(".subMenu").slideToggle();

                });
            }



            if ($(window).width() >= 767) {
                $("#navbar .nav li.submenuLiMain").hover(function () {

                    $(this).find('.subMenu').css('visibility', 'visible');
                });
            }

            $('#navbar .subMenu .subMenuLi a').click(function () {

                $('#navbar .submenuLiMain').children('a').removeClass('menuHighlight');
                $(this).parents('.submenuLiMain').children('a:eq(0)').addClass('menuHighlight');
                $(this).parent().parent().parent().parent().css('visibility', 'hidden');
            });

            $(".navbar-toggle").click(function () {
                $(this).toggleClass("open");
            });

            $('#mediaSlider').carousel({
                interval: false
            });

            var clickEvent = false;
            $('#mediaSlider').on('click', '.nav a', function () {
                clickEvent = true;
                $('.nav li').removeClass('active');
                $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function (e) {
                if (!clickEvent) {
                    var count = $('.nav').children().length - 1;
                    var current = $('.nav li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.nav li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });

            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#backTop').fadeIn();
                }
                else {
                    $('#backTop').fadeOut();
                }
            });
            $("#backTop").click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
            });

        });


    </script>



    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>



</body>
</html>
